/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}


/* Footer */

footer {
    text-align: center;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    /* Height of the footer */
    background: #6cf;
}
