/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0px;
    display: grid;
    flex-grow: 1;
    flex-direction: column;
    min-height: 100%;
    line-height: 1.6;
    grid: auto / 1em 1f 1em;
    /*  overflow-x: hidden;
    overflow-y: hidden; */
}


/* Footer */


/* footer {
    margin-top: auto;
    padding: 3em;
    height: 3em;
} */

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}