<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="dns-prefetch" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="reset-password.component.css">
<link rel="icon" href="Favicon.png">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

<!-- Note: link from email (check firebase authentication) -->

<nav class="navbar navbar-expand-lg navbar-light navbar-laravel">
    <div class="container">
        <a class="navbar-brand" href="#" style="text-align: left;">RESPONDE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


    </div>
</nav>


<div>
    <div id="log-in">
        <form class="login-form">
            <h1 class="login-heading">Enter New Password</h1>
            <p class="login-copy">Password</p>
            <div class="field-container -password">
                <input type="password" placeholder="Password" formControlName="password" required/>
            </div>
            <p class="login-copy">Confirm Password</p>
            <div class="field-container -password">
                <input type="password" placeholder="Password" formControlName="password" required/>
            </div>
            <!-- update -->
            <button style="color: #fff;" type="submit" class="auth-btn log-in-button bg-primary">
            Confirm
        </button>



        </form>
    </div>
</div>