
<div>
    <div id="log-in">
        <form class="login-form">
            <h1 class="login-heading">Identity Verification</h1>
            <div class="field-container -username">

                <input type="email" placeholder="Email" formControlName="email" required/>
            </div>
            <div class="field-container -password">

                <input type="password" placeholder="Password" formControlName="password" required/>
            </div>
            <!-- if successful, link to change email page -->
            <button style="color: #fff;" type="submit" [disabled]="!adminLogin.valid" class="auth-btn log-in-button bg-primary">
            Log in
        </button>



        </form>
    </div>
</div>