<!-- Sidebar -->


<ul class="navbar-nav bg-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <div>
        <a class="sidebar-brand d-flex align-items-center justify-content-center" routerLink="/dashboard">
            <div class="sidebar-brand-icon ">
                <!-- logo -->
                <img style="width: 40px; height: 40px" class="img-profile rounded-circle" src="https://images.unsplash.com/photo-1634878969850-c868bdd73547?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1481&q=80">

            </div>
            <div class="sidebar-brand-text mx-3">RESPONDE Admin</div>
        </a>
    </div>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active link">
        <a class="nav-link" routerLink="/dashboard">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span id="dashboard" class="side-item">Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Reports
    </div>

    <!-- Nav Item -->
    <li class="nav-item link">
        <a class="nav-link collapsed" routerLink="/incomingreport">
            <i class="fas fa-exclamation fa-fw"></i>
            <span class="side-item"><a>Incoming Reports</a></span>
        </a>

    </li>

    <!-- Nav Item -->
    <li class="nav-item link">
        <a class="nav-link collapsed" routerLink="/reporthistory">
            <i class="fas fa-table fa-fw"></i>
            <span class="side-item"><a>Reports History</a></span>
        </a>

    </li>

    <!-- Nav Item -->
    <li class="nav-item link">
        <a class="nav-link collapsed" routerLink="/incidentreport">
            <i class="fas fa-clipboard fa-fw"></i>
            <span class="side-item"><a>Incident Reports</a></span>
        </a>

    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

</ul>


<!-- End of Sidebar -->