<footer class="sticky-footer" id="footer">
    <!-- <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Website Footer</span>
        </div>
    </div> -->
    <div class="footer-copyright">
        <div class="footer-copyright-wrapper">
            <p class="footer-copyright-text">
                <span>RESPONDE</span>
                <br>
                <a class="footer-copyright-link" target="_self"> ©2021 | Designed By: UST-CICS SADTbois | All rights reserved. </a>
            </p>
        </div>
    </div>
</footer>